@import './annonce.scss';
@import './annonce.scss';
@import './annonces.scss';
@import './edit.scss';
@import './inscription.scss';
@import './login.scss';
@import './login.scss';
@import './profile.scss';
@import './search.scss';


.accueil{
    background: #d8bebe;
}

.edit {
    background: rgb(235, 42, 42);
}
.map__image{
    stroke: black;
}
